<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%class{50}.%M:%L) - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>tests.log</file>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{50}.%M:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.gudilov.lunchvotingsystem" level="debug"/>

        <logger name="org.hibernate.jdbc.ConnectionManager" level="DEBUG"/>
        <logger name="org.springframework.orm.jpa.JpaTransactionManager" level="DEBUG"/>

    <root level="error">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>


</configuration>